#Axtarış {
  position: relative;
  z-index: +666;
  .comeback {
    margin-top: 8rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, #0077b3);
    }
  }
  .header_text {
    @include header_text(center, 36px, #159ee3, bold, 0 0 60px);
  }
  .main_serch {
    @include main_search_item(
      block,
      100%,
      72px,
      0 0 0 56px,
      none,
      2px solid #4eade0,
      "Gilroy",
      24px,
      1.67,
      #4eade0
    );
  }
  .axtaris_items {
    @include axtaris_items(30px 0, 1px solid rgba(114, 114, 114, 0.4));
    h4 {
      @include axtaris_items_h4(0 0 8px, bold, 18px, 1.67, black);
      a {
        @include axtaris_items_a(rgba(0, 0, 0, 0.6), none);
      }
    }
    h3 {
      @include axtaris_items_h4(0 0 8px, bold, 24px, 1.67, black);
      a {
        @include axtaris_items_a(black, none);
      }
    }
  }
}
