#Check_up {
  margin-top: 7rem;
  position: relative;
  z-index: +999;
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, #0077b3);
    }
  }
  .header_text {
    @include header_text(center, 36px, #159ee3, bold, 0 0 60px);
  }
  .h_text {
    @include h_text(#404040, 0 0 5px, 14px, 300);
  }
  .check_items {
    a {
      text-decoration: none;
      .check_cards {
        .card_img {
          img {
            @include card_img(100%, cover, 5px, 1px solid lightgray);
          }
        }
        .card_text {
          margin-top: 1rem;
          p {
            @include left_side_p(#0077b3, 24px, bold);
          }
        }
      }
    }
  }
}
