#Check_up {
  @include netice(7rem, relative, +999, auto);
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, $blue007);
    }
  }
  .header_text {
    @include header_text(center, 36px, $blue159, bold, 0 0 60px);
  }
  .h_text {
    @include h_text(#404040, 0 0 5px, 14px, 300);
  }
  .check_items {
    a {
      text-decoration: none;
      .check_cards {
        .card_img {
          img {
            @include card_img(100%, cover, 5px, 1px solid $lightBorder);
          }
        }
        .card_text {
          margin-top: 1rem;
          p {
            @include left_side_p($blue007, 24px, bold);
          }
        }
      }
    }
  }
}
