#slider_page {
  z-index: -1;
  @include slider_page(
    330px,
    120%,
    $sliderColor,
    fixed,
    -10%,
    ellipse(100% 50% at 100% 50%),
    0,
    slider1 0.9s linear normal
  );
  #slider2_page {
    @include slider_page(
      330px,
      110%,
      $sliderColor2,
      fixed,
      -5%,
      ellipse(100% 50% at 100% 50%),
      -110px,
      slider2 0.8s linear normal
    );
    #slider3_page {
      @include slider_page(
        330px,
        100%,
        $sliderColor3,
        fixed,
        -0%,
        ellipse(100% 50% at 100% 50%),
        -220px,
        slider3 0.7s linear normal
      );
    }
  }
}
#Tibbi_məlumatlar {
  @include netice(5rem, relative, +999, auto);
  .comeback {
    margin-top: 8rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, $blue007);
    }
  }
  .tibbi_melumat_photo {
    .header_text {
      @include header_text(center, 36px, $blue159, bold, 0 0 60px);
    }

    .photo_tibb {
      img {
        @include tibb_img(666, 100%, 8px);
      }
    }
  }
  .text_covid {
    margin-top: 5rem;
    h3 {
      @include h_text($gray40, 0 0 16px, 24px, 500);
    }
    p {
      @include h_text($colorText, 0 0 5px, 13px, 400);
    }
    .lists_p {
      @include h_text($colorText, 0 0 10px 25px, 15px, 500);
      i {
        color: $blue007;
        font-size: 16px;
      }
    }
  }
}
#footer {
  .end_text {
    @include end_text(space-between, 1.2rem, 0px 10px);
    .left_side {
      p {
        @include left_side_p($blackOpasity2, 14px, 500);
        a {
          @include left_side_a(inline-block, $grayOpacty175, 13px, 500, none);
        }
      }
    }
    .right_side {
      display: flex;
      gap: 20px;
      p {
        @include right_side_p(14px, 24px, 500, $grayOpacty175, 0, 100%);
      }
      ul {
        @include right_side_ul(center, 20px, center, 100%, 0);
        li {
          list-style: none;
          a {
            @include right_side_a(none, $grayOpacty175);
          }
        }
      }
    }
  }
  .connection_items {
    @include Flex_item(flex-end, flex-end, 20px);
    padding: 10px;
    .f_phone,
    .f_anket,
    .f_sual,
    .f_connect {
      @include connection_items_f(
        50px,
        50px,
        50%,
        $defaultWhite,
        center,
        center,
        1.5rem
      );
      box-shadow: 7px 8px 9px -4px $defaultGray;
      i {
        color: $blue159;
      }
    }
    .f_search {
      display: none;
    }
    .lemon_connect {
      background-color: $blue159;
      i {
        color: $defaultWhite;
      }
    }
    .scale_phone {
      animation: phonescale 1s ease-in-out infinite;
    }
  }
}
.phone_seconds {
  @include nav_item_phone(pointer, absolute, 20px, 20px, 15%, 999);
  .phone_text {
    p {
      @include nav_item_phone_p(0 17px 5px, 13px, 500, $blue159, 0);
    }
  }
  .number {
    a {
      @include nav_item_phone_a(none, $blue159, inline-block, 22px, 700);
      sub {
        @include nav_item_phone_sub(inline-block, baseline, 16px);
      }
      i {
        font-size: 20px;
      }
    }
  }
}
