#Endirimlər {
  @include netice(7rem, relative, +999, auto);
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, $blue007);
    }
  }
  .header_text {
    @include header_text(center, 36px, $blue159, bold, 0 0 60px);
  }
  .lab_card {
    padding: 8px;
    .lab_image {
      img {
        @include card_img(100%, cover, 8px, none);
      }
    }
    .lab_items {
      h4 {
        @include axtaris_items_h4(7px 0 12px, 500, 17px, 1.41, $gray40);
      }
      p {
        @include axtaris_items_h4(0 0 15px, 300, 14px, 1.33, $blackOpasity39);
      }
      .lab_data {
        @include main_flex(space-between, center);
        .month {
          p {
            @include search_i_icon($gray7c, 15px);
          }
        }
        .view {
          p {
            @include search_i_icon($gray7c, 12px);
          }
        }
      }
    }
  }
}
