#Filiallar {
  margin-top: 7rem;
  position: relative;
  z-index: +999;
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      font-size: 17px;
      font-weight: 500;
      text-decoration: none;
      color: #0077b3;
    }
  }
  .header_text {
    text-align: center;
    font-size: 36px;
    color: #159ee3;
    font-weight: bold;
    padding: 0 0 60px;
    img {
      width: 15px;
      padding: 6px;
      cursor: pointer;
      background-color: #159ee3;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
  .filial_items {
    a {
      text-decoration: none;
      .card_filial {
        .card_img_filial {
          img {
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
            border: 1px solid lightgray;
          }
          &:hover {
            opacity: 0.8;
          }
        }
        .card_text_filial {
          margin-top: 1rem;
          p {
            font-size: 24px;
            font-weight: bold;
            color: #0077b3;
          }
        }
      }
    }
  }
}
