#Filiallar {
  @include netice(7rem, relative, +999, auto);
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, #0077b3);
    }
  }
  .header_text {
    @include header_text(center, 36px, #159ee3, bold, 0 0 60px);
    img {
      @include header_text_img(30px, 6px, pointer, #159ee3, 30px, 50%);
    }
  }
  .filial_items {
    a {
      text-decoration: none;
      .card_filial {
        .card_img_filial {
          img {
            @include card_img(100%, cover, 5px, 1px solid lightgray);
          }
          &:hover {
            opacity: 0.8;
          }
        }
        .card_text_filial {
          margin-top: 1rem;
          p {
            @include leftside_nav_bold_text(24px, bold, #0077b3);
          }
        }
      }
    }
  }
}
