#Haqqımızda {
  @include netice(6rem, relative, +999, auto);
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, #0077b3);
    }
  }
  .header_text {
    @include header_text(center, 36px, #159ee3, bold, 0 0 60px);
  }
  .accordion-item__container {
    .rehberlik {
      padding: 10px;
      .rehber_image {
        img {
          max-width: 240px;
          border-radius: 8px;
        }
      }
      .rehber_text {
        @include text_items(15px, 1.75, #404040, 300);
        p {
          padding: 0 0 25px;
        }
        .end {
          text-align: right;
        }
      }
    }
    .karyeras {
      padding: 10px;
      .kayyeratext {
        @include text_items(15px, 1.75, #404040, 300);
      }
      .karyeraimg {
        h3 {
          @include header_text(center, 26px, #159ee3, bold, 0 0 50px);
        }
      }
      .karyeimg {
        padding: 10px;

        img {
          @include image_item(pointer, 270px, cover, 16px);
        }
      }
    }
    .lisenziya {
      padding: 10px;
      .card_lisenziya {
        .lisenziya_img {
          img {
            @include image_logo(cover, 100%);
          }
        }
        .lisenziya_text {
          p {
            @include text_content(18px, 1.44, #404040, bold, center);
          }
        }
      }
    }
    .history {
      padding: 10px;
      p {
        @include text_items(15px, 1.75, #404040, 300);
      }
      img {
        @include image_logo(cover, 100%);
      }
    }
  }
}
