#Hekimler {
  margin-top: 7rem;
  position: relative;
  z-index: +999;
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      font-size: 17px;
      font-weight: 500;
      text-decoration: none;
      color: #0077b3;
    }
  }
  .header_text {
    text-align: center;
    font-size: 36px;
    color: #159ee3;
    font-weight: bold;
    padding: 0 0 60px;
  }

  ul {
    padding: 0;
    li {
      padding: 10px 12px;
      margin: 4px 0px;
      list-style: none;
      .accordion {
        background-color: #159ee3;
        color: white;
        cursor: pointer;
        padding: 21px 60px 21px 35px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        border-radius: 5px;
      }
      .panel_row {
        height: 0px;
        display: flex !important;
        visibility: hidden;
        .panel {
          .card_photo {
            margin-top: 1rem;
            cursor: pointer;
            img {
              width: 100%;
              border-radius: 5px;
            }
          }
          .card_text {
            .blue {
              padding: 0 0 8px;
              font-size: 13px;
              font-weight: 500;
              margin: 0;
              color: #159ee3;
            }
            .gray {
              color: #7c7c7c;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
.active2 {
  height: auto !important;
  visibility: visible !important;
}
