#Hekimler {
  @include netice(7rem, relative, +999, auto);
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, #0077b3);
    }
  }
  .header_text {
    @include header_text(center, 36px, #159ee3, bold, 0 0 60px);
  }
  ul {
    padding: 0;
    li {
      @include doctor_li(10px 12px, 4px 0px, none);
      .accordion {
        @include accordion_doctor(
          #159ee3,
          white,
          pointer,
          21px 60px 21px 35px,
          18px,
          500,
          100%,
          left,
          none,
          none,
          5px
        );
      }
      .panel_row {
        @include panel_row(0px, hidden);
        .panel {
          .card_photo {
            margin-top: 1rem;
            cursor: pointer;
            img {
              width: 100%;
              border-radius: 5px;
            }
          }
          .card_text {
            .blue {
              @include nav_item_phone_p(0 0 8px, 13px, 500, #159ee3, 0);
            }
            .gray {
              @include search_i_icon(#7c7c7c, 13px);
            }
          }
        }
      }
    }
  }
}
.active2 {
  height: auto !important;
  visibility: visible !important;
}
