#Main_serch {
  @include main_search(
    100%,
    160px,
    40px 10px,
    $defaultWhite,
    relative,
    0,
    0,
    +99999,
    none
  );
  .main_serch {
    @include main_search_item(
      block,
      100%,
      72px,
      0 0 0 56px,
      none,
      2px solid $mainblue,
      "Gilroy",
      24px,
      1.67,
      $mainblue
    );
  }
  a {
    @include search_a_icon(absolute, 0, 40px);
    i {
      @include search_i_icon($mainblue, 3rem);
    }
  }
}
.modal_con {
  @include modal_con(
    none,
    absolute,
    50%,
    50%,
    translate(-50%, -50%),
    +999999,
    8px,
    900px,
    $defaultWhite,
    30px 40px
  );
  .modal_image {
    img {
      @include image_item(pointer, 100%, cover, 5px);
    }
  }
  .modal_items {
    .modal_text {
      p {
        margin: 0;
        @include p_items_text(0, $gray64, 15px, 0 0 25px);
      }
    }
    .modal_btn {
      a {
        @include modal_btn_a(none, $defaultWhite, $blue007, 10px 20px, 8px);
      }
    }
    .modal_form {
      @include modal_form(1rem, $formLight, 12px, 8px);
      form {
        label {
          font-weight: bold;
          font-size: 1rem;
        }
        input {
          @include form_text_input(7px 8px, 8px, 1px solid $lightBorder);
        }
        button {
          @include flexable_button(
            none,
            $btnFlex,
            $defaultWhite,
            8px,
            5px 10px
          );
          margin: 10px;
        }
      }
    }
  }
  #close {
    @include close_btn(0, absolute, 0, end, 7px 15px);
    i {
      font-size: 1.6rem;
    }
  }
}
.block {
  display: block !important;
}
.Page_Logo {
  @include page_logo(absolute, 24px, 36px, 0, 666);
  img {
    @include image_logo(cover, 77px);
  }
  .second_logo {
    @include image_logo(cover, 60px);
  }
}
header {
  position: relative;
  .absolut_item {
    @include absolut_item(absolute, 16px, 0, 0);
    .xidmet_box {
      .main_a {
        transition: 0.5s ease-in-out;
        a {
          text-decoration: none;
        }
        @include xidmet_box(
          pointer,
          hidden,
          210px !important,
          100px,
          none,
          $BoxColor,
          $linerGradient,
          25px 10px,
          3px 11px 41px 0px $greyColor,
          16px
        );
        .xidmet_item {
          @include xidmet_item(space-around, center, $defaultWhite, relative);
          .circle {
            &::before {
              content: "";
              @include circile(
                94px,
                -53px,
                -46px,
                98px,
                $circleColor,
                absolute,
                50%,
                0.6
              );
            }
          }
          .xidmet_word {
            z-index: 999;
            p {
              font-weight: 700;
              margin: 0;
            }
          }
          .xidmet_icon {
            img {
              @include image_logo(cover, 80%);
            }
          }
        }
        &:hover {
          transform: translateY(-5px);

          .circle {
            &::before {
              @include circ_before(0.4, -70px, -60px, 0.3 ease-in-out);
            }
          }
        }
      }
    }
  }
}
#slider {
  @include slider_first(
    right,
    84%,
    100vh,
    $sliderPage1,
    circle(61.6% at 63% 51%),
    relative
  );
  #slider2 {
    @include slider_second(
      right,
      86%,
      100vh,
      $sliderPage2,
      circle(61.6% at 63% 51%),
      absolute,
      0%
    );
  }
  #slider3 {
    @include slider_second(
      right,
      82%,
      100vh,
      $blue007,
      circle(61.6% at 63% 51%),
      absolute,
      0%
    );
    &::after {
      content: "";
      @include slider3_after(block, 100%, 100%, absolute, 0, 0);
    }
    .swiper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        @include swiper-slide(
          center,
          18px,
          $blue007,
          center,
          center,
          imgscale 5s linear 2s infinite alternate
        );
        img {
          @include swiper_img(100%, 100%, cover, 0.6);
        }
      }
      .position_text {
        @include swiper_position_text(
          absolute,
          999,
          230px,
          110px,
          start,
          transformtext 4s forwards infinite
        );
        p {
          @include swiper_position_text_p(
            40px,
            60px,
            800,
            $defaultWhite,
            40px 0px 0px,
            140px
          );
        }
        a {
          @include swiper_position_text_a(none, $defaultWhite, 1.2rem, pointer);
        }
      }
    }
  }
}
nav {
  .nav_items {
    @include Flex_item(flex-end, flex-end, 30px);
    .search {
      @include nav_item_search(
        pointer,
        absolute,
        20px,
        20px,
        27%,
        999,
        $defaultWhite,
        $blue3d,
        50px,
        50px,
        center,
        center,
        50%
      );
    }
    .phone {
      @include nav_item_phone(pointer, absolute, 20px, 20px, 15%, +9999);
      .phone_text {
        p {
          @include nav_item_phone_p(0 17px 5px, 13px, 500, $defaultWhite, 0);
        }
      }
      .number {
        a {
          @include nav_item_phone_a(
            none,
            $defaultWhite,
            inline-block,
            22px,
            700
          );
          sub {
            @include nav_item_phone_sub(inline-block, baseline, 16px);
          }
          i {
            font-size: 20px;
          }
        }
      }
    }
    .language {
      .az {
        @include nav_item_search(
          pointer,
          absolute,
          20px,
          20px,
          30px,
          +999999,
          $defautBlack,
          $defaultWhite,
          50px,
          50px,
          center,
          center,
          50%
        );
        p {
          @include language_p(0, 15px, 500);
          i {
            color: $blue159;
          }
        }
      }
      .ru {
        @include language_ru(
          pointer,
          absolute,
          14%,
          30px,
          +999999,
          50px,
          50px,
          50%,
          $defautBlack,
          $defaultWhite,
          hidden,
          0.7s ease-in-out
        );
        p {
          @include language_ru_p(center, 15px, 500, center, 0, 13px);
        }
      }
      .az:hover + .ru {
        visibility: visible;
        background-color: $blue159;
        color: $defaultWhite;
      }
    }
    .nav {
      width: auto;
      border: none;
      .transform_itemas {
        @include transform_itemas(
          665px,
          100vh,
          fixed,
          0,
          0,
          +99999,
          65px 12px 0 12px,
          none,
          scroll,
          $blue159
        );
        .rightside_nav,
        .leftside_nav {
          ul {
            margin: 0;
            padding: 0;
            li {
              @include leftside_nav_li(0, none, 10px 15px 30px);
              a {
                @include leftside_nav_a(none, $defaultWhite, 0 0 18px, 17px);
              }
              .bold_text {
                @include leftside_nav_bold_text(24px, bold, $defaultWhite);
              }
              &:hover {
                text-decoration: underline;
                transition: 0.5s ease-in-out;
              }
            }
          }
        }
      }
    }
    .btn-nav {
      @include btn-nav(
        absolute,
        50px,
        50px,
        50%,
        20px,
        9%,
        $defaultWhite,
        none,
        11px,
        pointer,
        +999999
      );
    }
    .icon-bar {
      @include icon-bar(block, 6px 0, 26px, 2px, $blue159);
    }
    .icon-bar {
      transition: all 0.7s ease;
      z-index: 999999;
    }
    .animated .icon-bar {
      z-index: 999999;
      background-color: $blue159;
    }
    .animated .top {
      transform: translateY(7px) rotateZ(45deg);
    }
    .animated .bottom {
      transform: translateY(-8px) rotateZ(-45deg);
    }
    .animated .middle {
      width: 0;
    }
  }
}
footer {
  .end_text {
    position: relative;
    .left_side {
      @include left_side(absolute, 570px, 22px);
      p {
        @include left_side_p($blackOpasity2, 14px, 500);
        a {
          @include left_side_a(inline-block, $grayOpacty175, 13px, 500, none);
        }
      }
    }
    .right_side {
      @include right_side(absolute, 567px, 25px, 20px);
      p {
        @include right_side_p(14px, 24px, 500, $grayOpacty175, 0, 100%);
      }
      ul {
        @include right_side_ul(center, 20px, center, 100%, 0);
        li {
          list-style: none;
          a {
            @include right_side_a(none, $grayOpacty175);
          }
        }
      }
    }
    .connection_items {
      @include connection_items(center, center, 15px, fixed, +999, 490px, 25px);
      .f_phone,
      .f_anket,
      .f_sual,
      .f_connect {
        @include connection_items_f(
          50px,
          50px,
          50%,
          $defaultWhite,
          center,
          center,
          1.5rem
        );
        i {
          color: $blue159;
        }
      }
      .f_search {
        display: none;
      }
      .lemon_connect {
        background-color: $blue159;
        i {
          color: $defaultWhite;
        }
      }
      .scale_phone {
        animation: phonescale 1s ease-in-out infinite;
      }
    }
  }
}
.active {
  display: block !important;
  transition: all 3s ease-in-out !important;
}
@keyframes slider1 {
  100% {
    right: 0px;
  }
}
@keyframes slider2 {
  0% {
    right: 0;
  }
  100% {
    right: -110px;
  }
}
@keyframes slider3 {
  0% {
    right: 0;
  }
  100% {
    right: -220px;
  }
}
@keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@keyframes imgscale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1.03);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.07);
  }
}
@keyframes transformtext {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes phonescale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.25);
  }
  75% {
    transform: scale(1.28);
  }
  100% {
    transform: scale(1.3);
  }
}
