#Laboratoriya {
  @include netice(6rem, relative, +999, auto);
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, $blue007);
    }
  }
  .header_text {
    @include header_text(center, 36px, $blue159, bold, 0 0 60px);
  }

  .lab_haqqinda,
  .nezaret,
  .huquq {
    padding: 10px;
    .lab_imagr {
      margin-top: 2rem;
      img {
        @include image_logo(cover, 100%);
      }
    }
    p {
      @include p_mix_items(2rem, 16px, "Gilroy", 400, 1.75, $gray40);
    }
    .nezaret_img,
    .huquq_img {
      display: flex;
      justify-content: center;
      img {
        @include image_logo(cover, 100%);
      }
    }
    .blue {
      @include left_side_p($blue159, 22px, 600);
    }
    .lists_p {
      @include list_p(0 0 10px 25px, 14px, 400, "Gilroy");
      i {
        @include search_i_icon($blue007, 16px);
      }
    }
  }
}
