#Laboratoriya {
  margin-top: 6rem;
  position: relative;
  z-index: +999;
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      font-size: 17px;
      font-weight: 500;
      text-decoration: none;
      color: #0077b3;
    }
  }
  .header_text {
    text-align: center;
    font-size: 36px;
    color: #159ee3;
    font-weight: bold;
    padding: 0 0 60px;
  }

  .lab_haqqinda,
  .nezaret,
  .huquq {
    padding: 10px;
    .lab_imagr {
      margin-top: 2rem;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    p {
      margin-top: 2rem;
      font-size: 16px;
      font-family: "Gilroy";
      font-weight: 400;
      line-height: 1.75;
      color: #404040;
    }
    .nezaret_img,
    .huquq_img {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .blue {
      color: #159ee3;
      font-size: 22px;
      font-weight: 600;
    }
    .lists_p {
      padding: 0 0 10px 25px;
      font-size: 14px;
      font-weight: 400;
      font-family: "Gilroy";
      i {
        color: #0077b3;
        font-size: 16px;
      }
    }
  }
}
