#Müayinələr {
  @include netice(6rem, relative, +999, 99%);
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, $blue007);
    }
  }
  .header_text {
    @include header_text(center, 36px, $blue159, bold, 0 0 60px);
  }
  .muayine_search {
    position: relative;
    input {
      @include muayine_search_Input(80%, 17px, 1px solid $lightBorder, 4px);
    }
    .abs {
      @include muayine_search_abs(absolute, 16px, 25%);
      i {
        @include search_i_icon($defaultGray, 16px);
      }
    }
  }
  .but_payment {
    @include main_flex(flex-end, center);
    button {
      @include but_payment(
        40%,
        18px,
        5px,
        none,
        $defaultWhite,
        $BoxColor,
        $linerGradient
      );
    }
  }
  .muaiyine_content {
    @include muaiyine_content($defaultWhite, 1px solid $light159, 5px);
    .miayine_items {
      .accordion {
        border-bottom: 1px solid $lightdc;
        .container {
          position: relative;
          margin: 10px 10px;
          .itemss_acc {
            @include Flex_item(flex-start, center, 10px);
            .label {
              @include muaiyine_content_label(
                relative,
                10px 0,
                1.4rem,
                600,
                $blue007,
                pointer
              );
              &::before {
                content: "";
                @include muaiyine_label_befor(
                  block,
                  0,
                  0,
                  solid,
                  6px 5.5px 0 5.5px,
                  $blue007 transparent,
                  absolute,
                  calc(50% - 2px),
                  -12%
                );
              }
            }
          }
          .first {
            @include Flex_item(flex-start, center, 10px);
            .artc_icons {
              img {
                @include image_sizess(24px, 24px);
              }
            }
            .artc_text {
              p {
                @include artc_text(0, $blue007, 1.2rem);
              }
            }
          }
          @include content(relative, 0, hidden, 0.5s);
          .vertical_tab_deep {
            ul {
              li {
                padding: 15px 10px 10px 20px;
                a {
                  @include vertical_tab_deep_a(
                    none,
                    $defautBlack,
                    16px,
                    400,
                    10px
                  );
                }
                img {
                  @include image_sizess(28px, 28px);
                }
              }
            }
          }
          .different_item {
            .detals_tab {
              img {
                @include image_sizess(24px, 24px);
              }
            }
            .label_deep {
              span {
                @include left_side_p($blue007, 16px, 400);
              }
            }
          }
        }
      }
      .new-accordion {
        .accordion-item {
          border-radius: 0 !important;
          .accordion-header {
            padding: 10px !important;
            cursor: pointer;
            .accordion-button {
              @include left_side_p($blue007, 1.4rem, 600);
              &::after {
                color: $blue007;
              }
              &:not(&.collapsed) {
                @include collapsed_acc;
              }
            }
          }
          .accordion-body {
            .content {
              .gif {
                @include image_sizess(10%, 10%);
              }
            }
            article {
              @include Flex_item(flex-start, center, 10px);
              .artc_icons {
                img {
                  @include image_sizess(24px, 24px);
                }
              }
              .artc_text {
                p {
                  @include artc_text(0, $blue007, 1.2rem);
                }
              }
            }
            .content {
              @include artc_text_content(
                relative,
                auto !important,
                hidden,
                0.3s
              );
              .vertical_tab_deep {
                ul {
                  li {
                    padding: 15px 10px 10px 20px;
                    img {
                      @include image_sizess(28px, 28px);
                    }
                    a {
                      @include vertical_tab_deep_aa(
                        none,
                        $defautBlack,
                        16px,
                        400,
                        10px
                      );
                    }
                  }
                }
              }
            }
          }
        }
      }
      .sub-accordion {
        border: none !important;
        .accordion-item {
          border-radius: 0 !important;
          @include collapsed_acc;
          .accordion-header {
            @include collapsed_acc;
            .accordion-button:not(&.collapsed) {
              @include collapsed_acc;
            }
          }
          .accordion-collapse {
            @include collapsed_acc;
            &.collapse {
              @include collapsed_acc;
            }
            .accordion-body {
              ul {
                li {
                  padding: 15px 10px 10px 20px;
                  a {
                    @include vertical_tab_deep_aa(
                      none,
                      $defautBlack,
                      16px,
                      400,
                      10px
                    );
                  }
                }
              }
            }
          }
        }
      }
    }
    .accordion .container.active .content {
      height: auto;
    }
    #vertical_tab_nav {
      padding: 0 20px;
      .flexable {
        @include flexable_tab(
          1px solid $lightdc,
          15px 0px,
          center,
          space-between
        );
        .leftside {
          h4 {
            @include left_side_p($blue007, 1.2rem, 600);
          }
          p {
            @include flexable_leftside($light115, 1rem, 400, pointer);
          }
        }
        .rightside {
          span {
            color: $blue007;
          }
          button {
            @include flexable_button(
              2px solid $blue007,
              inherit,
              $blue007,
              30px,
              10px 15px
            );
          }
          i {
            color: $blue007;
          }
        }
      }
    }
  }
}
