#Müayinələr {
  @include netice(6rem, relative, +999, 99%);
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, #0077b3);
    }
  }
  .header_text {
    @include header_text(center, 36px, #159ee3, bold, 0 0 60px);
  }
  .muayine_search {
    position: relative;
    input {
      @include muayine_search_Input(80%, 17px, 1px solid lightgray, 4px);
    }
    .abs {
      @include muayine_search_abs(absolute, 16px, 25%);
      i {
        @include search_i_icon(gray, 16px);
      }
    }
  }
  .but_payment {
    @include main_flex(flex-end, center);
    button {
      @include but_payment(
        40%,
        18px,
        5px,
        none,
        white,
        rgb(21, 158, 227),
        linear-gradient(
          267deg,
          rgba(21, 158, 227, 1) 31%,
          rgba(47, 205, 243, 1) 91%
        )
      );
    }
  }
  .muaiyine_content {
    max-height: 722px;
    @include muaiyine_content(white, 1px solid rgb(159, 159, 159), 5px);
    .miayine_items {
      .accordion {
        border-bottom: 1px solid #dcdcdc;
        .container {
          position: relative;
          margin: 10px 10px;
          .itemss_acc {
            @include Flex_item(flex-start, center, 10px);
            .label {
              @include muaiyine_content_label(
                relative,
                10px 0,
                1.4rem,
                600,
                #0077b3,
                pointer
              );
              &::before {
                content: "";
                @include muaiyine_label_befor(
                  block,
                  0,
                  0,
                  solid,
                  6px 5.5px 0 5.5px,
                  #0077b3 transparent,
                  absolute,
                  calc(50% - 2px),
                  -12%
                );
              }
            }
          }
          .first {
            @include Flex_item(flex-start, center, 10px);
            .artc_icons {
              img {
                width: 24px;
                height: 24px;
              }
            }
            .artc_text {
              p {
                @include artc_text(0, #0077b3, 1.2rem);
              }
            }
          }
          @include content(relative, 0, hidden, 0.5s);
          .vertical_tab_deep {
            ul {
              li {
                padding: 15px 10px 10px 20px;
                a {
                  @include vertical_tab_deep_a(none, black, 16px, 400, 10px);
                }
                img {
                  height: 28px;
                  width: 28px;
                }
              }
            }
          }
          .different_item {
            .detals_tab {
              img {
                width: 24px;
                height: 24px;
              }
            }
            .label_deep {
              span {
                @include left_side_p(#0077b3, 16px, 400);
              }
            }
          }
        }
      }
      .new-accordion {
        .accordion-item {
          border-radius: 0 !important;
          .accordion-header {
            padding: 10px !important;
            cursor: pointer;
            .accordion-button {
              font-size: 1.4rem;
              font-weight: 600;
              color: #0077b3;
              &::after {
                color: #0077b3;
              }
              &:not(&.collapsed) {
                border: none !important;
                box-shadow: none !important;
                background: none !important;
              }
            }
          }
          .accordion-body {
            .content {
              .gif {
                width: 10%;
                height: 10%;
              }
            }
            article {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;
              .artc_icons {
                img {
                  width: 24px;
                  height: 24px;
                }
              }
              .artc_text {
                p {
                  margin: 0;
                  color: #0077b3;
                  font-size: 1.2rem;
                }
              }
            }
            .content {
              position: relative;
              height: auto !important;
              overflow: hidden;
              transition: 0.5s;
              .vertical_tab_deep {
                ul {
                  li {
                    padding: 15px 10px 10px 20px;
                    img {
                      height: 28px;
                      width: 28px;
                    }
                    a {
                      text-decoration: none;
                      color: black;
                      font-size: 16px;
                      font-weight: 400;
                      padding-left: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .sub-accordion {
        border: none !important;
        .accordion-item {
          border-radius: 0 !important;
          border: none !important;
          box-shadow: none !important;
          background: none !important;
          .accordion-header {
            border: none !important;
            box-shadow: none !important;
            background: none !important;
            .accordion-button:not(&.collapsed) {
              border: none !important;
              box-shadow: none !important;
              background: none !important;
            }
          }
          .accordion-collapse {
            border: none !important;
            box-shadow: none !important;
            background: none !important;
            &.collapse {
              border: none !important;
              box-shadow: none !important;
              background: none !important;
            }
            .accordion-body {
              ul {
                li {
                  padding: 15px 10px 10px 20px;
                  a {
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                    font-weight: 400;
                    padding-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .accordion .container.active .content {
      height: auto;
    }
    #vertical_tab_nav {
      overflow-y: scroll;
      max-height: 716px;
      padding: 0px 20px;
      .flexable {
        @include flexable_tab(
          1px solid #dcdcdc,
          15px 0px,
          center,
          space-between
        );
        .leftside {
          h4 {
            @include left_side_p(#0077b3, 1.2rem, 600);
          }
          p {
            @include flexable_leftside(rgb(115, 115, 115), 1rem, 400, pointer);
          }
        }
        .rightside {
          span {
            color: #0077b3;
          }
          button {
            @include flexable_button(
              2px solid #0077b3,
              inherit,
              #0077b3,
              30px,
              10px 15px
            );
          }
          i {
            color: #0077b3;
          }
        }
      }
    }
  }
}
