.accordion {
  .accordion-tabs {
    @include accordion-tabs($blue159, 1px solid $lightBorder, 5px);
    .accordion-tab {
      @include acc_tab_second(
        $defaultWhite,
        10px,
        $blue159,
        1,
        none,
        pointer,
        1px solid $lightBorder
      );
      &.accordion-active {
        background: $blue159;
        color: $defaultWhite;
      }
    }
  }
  &-item {
    border: none !important;
    &__label {
      position: relative;
    }
    &__container {
      @include acc_container;
      .adress_items {
        padding: 5px 0px;
        h2 {
          @include h_text($blue159, 0 0 30px, 24px, bold);
        }
        p {
          @include search_i_icon($gray7c, 14px);
        }
        .cursor {
          cursor: pointer;
        }
      }
      .mapouter {
        .gmap_canvas {
          iframe {
            width: 100%;
            height: 835px;
          }
          a {
            @include right_side_a(none, $greyColor);
          }
        }
      }
      .tab_items {
        @include tab_items(200px, 142px, $blue159, 8px, pointer);
        .tab_img {
          @include main_flex(center, center);
          margin-top: 2rem;
          img {
            margin-top: 1rem;
          }
        }
        .tab_text {
          p {
            @include tab_text_p(1rem, 17px, white, center, bold);
          }
        }
      }
      .panel {
        cursor: pointer;
        .card_photo {
          margin-top: 1rem;
          img {
            width: 100%;
            border-radius: 5px;
          }
        }
        .card_text {
          .blue {
            @include nav_item_phone_p(0 0 8px, 13px, 500, #159ee3, 0);
          }
          .gray {
            @include search_i_icon(#7c7c7c, 13px);
          }
        }
      }
    }
  }
  &-active {
    border: none !important;
    background-color: inherit !important;
    background: #159ee3;
    .accordion-item {
      &__container {
        height: auto;
        opacity: 1;
      }
    }
  }
}
