@media (max-width: 768px) {
  #slider {
    display: none;
  }
  header {
    .absolut_item {
      .row {
        margin-top: 3rem !important;
      }
    }
    .xidmet_box {
      @include xidmet_box_res(calc(50% - 12px), 90px, 6px);
    }
  }
  .Page_Logo {
    img {
      @include image_logo(cover, 60px);
    }
    .second_logo {
      @include image_logo(cover, 50px);
    }
  }
  nav {
    .nav_items {
      .nav {
        .transform_itemas {
          width: auto;
          height: 100%;
        }
      }
      .language {
        display: none;
      }
      .search {
        display: none;
      }
      .phone {
        top: 30px;
        right: 17%;
      }
      .phone_seconds {
        @include nav_item_phone(pointer, absolute, 20px, 20px, 15%, 999);
        .phone_text {
          p {
            @include nav_item_phone_p(
              0 17px 5px,
              13px,
              500,
              #159ee3 !important,
              0
            );
          }
        }
        .number {
          a {
            @include nav_item_phone_a(
              none,
              #159ee3 !important,
              inline-block,
              22px,
              700
            );
            sub {
              @include nav_item_phone_sub(inline-block, baseline, 16px);
            }
            i {
              font-size: 20px;
            }
          }
        }
      }
      .btn-nav {
        @include btn_nav_res(#159ee3, 30px, 18px);
      }
      .icon-bar {
        @include icon_bar_res(5px 3px, 21px, white);
      }
      .animated .icon-bar {
        background-color: white;
      }
    }
  }
  footer {
    .end_text {
      .left_side {
        @include left_side_res(645px, center, 25%);
        a {
          display: block !important;
        }
      }
      .right_side {
        top: 700px;
        right: 20%;
      }
      .connection_items {
        @include muayine_search_abs(absolute, 580px, 25px);
        .f_phone,
        .f_anket,
        .f_sual,
        .f_connect {
          box-shadow: 7px 8px 9px -4px grey;
        }
        .f_search {
          @include f_search_res(
            block,
            pointer,
            absolute,
            20px,
            999,
            white,
            #159ee3,
            center,
            center,
            50%,
            -73px,
            57px,
            57px,
            7px 8px 9px -4px grey
          );
        }
      }
    }
  }
  #Hekimler {
    .panel {
      .card_text {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
  #Onlayn_qeydiyyat {
    .onlayn_item {
      .form_item {
        .form_text {
          input {
            width: 100%;
            margin: 12px 0px;
          }
        }
        .end_label {
          label {
            display: inline;
          }
        }
      }
    }
  }
  #E-nəticə {
    .netice {
      form {
        input {
          width: 100%;
        }
      }
    }
  }
  #Check_up {
    .check_items {
      .check_cards {
        .card_text {
          p {
            font-size: 18px !important;
          }
        }
      }
    }
  }
  #Filiallar {
    .accordion {
      .accordion-tabs {
        display: flex;
        flex-direction: column;
      }
      .accordion-content {
        .accordion-item__container {
          .flex_center {
            display: flex;
            justify-content: center;
            margin: 16px 0px;
          }
        }
      }
    }
  }
  #Poliklinika {
    .flex_center {
      display: flex;
      justify-content: center;
      margin: 12px 0px;
    }
  }
  #İnfolab,
  #Laboratoriya {
    .accordion {
      .accordion-tabs {
        display: flex;
        flex-direction: column;
      }
    }
  }
  #Haqqımızda {
    .accordion {
      .accordion-tabs {
        display: flex;
        flex-direction: column;
      }
      .karyeras {
        .res_center {
          @include main_flex(center, center);
        }
      }
    }
  }
  #Müayinələr {
    .muayine_search {
      input {
        width: 100%;
      }
    }
    .but_payment {
      button {
        width: 100%;
      }
    }
    .muaiyine_content {
      margin: initial;
      .miayine_items {
        border: none;
      }
      #vertical_tab_nav {
        .flexable {
          display: flex;
          flex-direction: column;
          .rightside {
            width: 100%;
            @include Flex_item(center, center, 25px);
          }
        }
      }
    }
  }
  .comeback {
    margin-left: 0px !important;
  }
  #footer {
    .connection_items {
      padding: 20px 10px;
    }
    .end_text {
      display: flex;
      flex-direction: column;
      .left_side {
        text-align: center;
        p {
          a {
            display: block;
          }
        }
      }
      .right_side {
        @include flex_items(center, center, column);
        p {
          text-align: center;
        }
      }
    }
  }
  #Məmnunluq_anketi {
    .anket_items {
      display: flex !important;
      flex-direction: column !important;
    }
    .anket_form2 {
      textarea {
        margin: 0 !important;
      }
    }
  }
  #Popup_modal {
    width: auto;
    top: 95%;
    .modal_con {
      .modal_items {
        h5 {
          font-size: 1rem;
          margin-top: 10px;
        }
        .modal_text {
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}
