@media (max-width: 768px) {
  #slider {
    display: none;
  }
  header {
    .xidmet_box {
      @include xidmet_box_res(calc(50% - 12px), 90px, 6px);
    }
  }
  .Page_Logo {
    img {
      @include image_logo(cover, 60px);
    }
    .second_logo {
      @include image_logo(cover, 50px);
    }
  }
  nav {
    .nav_items {
      .nav {
        .transform_itemas {
          width: auto;
          height: 100%;
        }
      }
      .language {
        display: none;
      }
      .search {
        display: none;
      }
      .phone {
        top: 30px;
        right: 17%;
      }
      .btn-nav {
        @include btn_nav_res(#159ee3, 30px, 18px);
      }
      .icon-bar {
        @include icon_bar_res(5px 3px, 21px, white);
      }
      .animated .icon-bar {
        background-color: white;
      }
    }
  }
  footer {
    .end_text {
      .left_side {
        @include left_side_res(677px, center, 50px);
        a {
          display: block;
        }
      }
      .right_side {
        top: 733px;
        right: 55px;
      }
      .connection_items {
        @include muayine_search_abs(absolute, 600px, 20px);
        .f_phone,
        .f_anket,
        .f_sual,
        .f_connect {
          box-shadow: 7px 8px 9px -4px grey;
        }
        .f_search {
          @include f_search_res(
            block,
            pointer,
            absolute,
            20px,
            999,
            white,
            #159ee3,
            center,
            center,
            50%,
            -73px,
            57px,
            57px,
            7px 8px 9px -4px grey
          );
        }
      }
    }
  }
  #Hekimler {
    .panel {
      .card_text {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
  #Onlayn_qeydiyyat {
    .onlayn_item {
      .form_item {
        .form_text {
          input {
            width: 100%;
            margin: 12px 0px;
          }
        }
        .end_label {
          label {
            display: inline;
          }
        }
      }
    }
  }
  #E-nəticə {
    .netice {
      form {
        input {
          width: 100%;
        }
      }
    }
  }
  #Check_up {
    .check_items {
      .check_cards {
        .card_text {
          p {
            font-size: 18px !important;
          }
        }
      }
    }
  }
  #Filiallar {
    .accordion {
      .accordion-tabs {
        display: flex;
        flex-direction: column;
      }
      .accordion-content {
        .accordion-item__container {
          .flex_center {
            display: flex;
            justify-content: center;
            margin: 16px 0px;
          }
        }
      }
    }
  }
  #İnfolab,
  #Haqqımızda,
  #Laboratoriya {
    .accordion {
      .accordion-tabs {
        display: flex;
        flex-direction: column;
      }
    }
  }
  #Müayinələr {
    .muayine_search {
      input {
        width: 100%;
      }
    }
    .but_payment {
      button {
        width: 100%;
      }
    }
    .muaiyine_content {
      margin: initial;
      .miayine_items {
        border: none;
      }
      #vertical_tab_nav {
        .flexable {
          display: flex;
          flex-direction: column;
          .rightside {
            width: 100%;
            @include Flex_item(center, center, 25px);
          }
        }
      }
    }
  }
  .comeback {
    margin-left: 0px !important;
  }
}
