#Suallar {
  @include netice(7rem, relative, +999, auto);
  .comeback {
    margin-top: 2rem;
    margin-left: 4rem;
    a {
      @include comeback__a(17px, 500, none, $blue007);
    }
  }
  .header_text {
    @include header_text(center, 36px, $blue159, bold, 0 0 60px);
  }
  .accordion_sual {
    .container_sual {
      position: relative;
      margin: 10px 10px;
      .label_sual {
        p {
          @include label_sual(
            block,
            100%,
            20px 10px 15px 0px,
            18px,
            1.33,
            500,
            -0.01em,
            $gray40,
            none,
            relative
          );
        }
        &::before {
          content: "+";
          @include label_sual_befor(
            $blue159,
            absolute,
            50%,
            -15px,
            30px,
            translateY(-50%)
          );
        }
      }
      .content_sual {
        @include content_sual_acc(
          2,
          $gray40,
          relative,
          0,
          16px,
          justify,
          100%,
          hidden,
          0.5s ease-in-out
        );
      }
    }
  }
  .accordion_sual .container_sual.activeks .content_sual {
    height: 120px;
  }
  .accordion_sual .container_sual.activeks .label_sual::before {
    content: "-";
    font-size: 20px;
  }
}
