@mixin main_search(
  $widht,
  $height,
  $pading,
  $bg,
  $position,
  $left,
  $top,
  $zindex,
  $display
) {
  width: $widht;
  height: $height;
  padding: $pading;
  background: $bg;
  position: $position;
  left: $left;
  top: $top;
  z-index: $zindex;
  display: $display;
}
@mixin main_search_item(
  $display,
  $width,
  $height,
  $pading,
  $border,
  $borderbot,
  $f_famly,
  $f_size,
  $lineheight,
  $color
) {
  display: $display;
  width: $width;
  height: $height;
  padding: $pading;
  border: $border;
  border-bottom: $borderbot;
  font-family: $f_famly;
  font-size: $f_size;
  line-height: $lineheight;
  color: $color;
}
@mixin search_a_icon($position, $right, $top) {
  position: $position;
  right: $right;
  top: $top;
}
@mixin search_i_icon($color, $f_size) {
  color: $color;
  font-size: $f_size;
}
@mixin page_logo($position, $top, $left, $right, $zindex) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  z-index: $zindex;
}
@mixin absolut_item($position, $top, $left, $right) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
}
@mixin image_logo($objectfit, $widht) {
  object-fit: $objectfit;
  width: $widht;
}
@mixin xidmet_box(
  $curcor,
  $overflow,
  $maxwidht,
  $maxheigt,
  $texdec,
  $bg,
  $bg_liner,
  $padding,
  $boxshadow,
  $borderrad
) {
  cursor: $curcor;
  overflow: $overflow;
  max-width: $maxwidht;
  max-height: $maxheigt;
  text-decoration: $texdec;
  background: $bg;
  background: $bg_liner;
  padding: $padding;
  box-shadow: $boxshadow;
  border-radius: $borderrad;
}
@mixin xidmet_item($content, $items, $color, $position) {
  display: flex;
  justify-content: $content;
  align-items: $items;
  color: $color;
  position: $position;
}
@mixin circile(
  $widht,
  $top,
  $right,
  $height,
  $bg,
  $position,
  $borderrad,
  $opacity
) {
  width: $widht;
  top: $top;
  right: $right;
  height: $height;
  background: $bg;
  position: $position;
  border-radius: $borderrad;
  opacity: $opacity;
}
@mixin circ_before($opacity, $top, $right, $transition) {
  opacity: $opacity;
  top: $top;
  right: $right;
  transition: $transition;
}
@mixin slider_first($float, $widht, $height, $bg, $clip, $position) {
  float: $float;
  width: $widht;
  height: $height;
  background-color: $bg;
  clip-path: $clip;
  position: $position;
}
@mixin slider_second($float, $widht, $height, $bg, $clip, $position, $right) {
  float: $float;
  width: $widht;
  height: $height;
  background-color: $bg;
  clip-path: $clip;
  position: $position;
  right: $right;
}
@mixin slider3_after($display, $widht, $heigt, $position, $top, $left) {
  display: $display;
  width: $widht;
  height: $heigt;
  position: $position;
  top: $top;
  left: $left;
}
@mixin swiper-slide($textaling, $fsize, $bg, $content, $items, $animation) {
  text-align: $textaling;
  font-size: $fsize;
  background: $bg;
  display: flex;
  justify-content: $content;
  align-items: $items;
  animation: $animation;
}
@mixin swiper_img($widht, $height, $obfit, $opacty) {
  width: $widht;
  height: $height;
  object-fit: $obfit;
  opacity: $opacty;
}
@mixin swiper_position_text(
  $position,
  $zindex,
  $top,
  $left,
  $textaling,
  $animation
) {
  position: $position;
  z-index: $zindex;
  top: $top;
  left: $left;
  text-align: $textaling;
  animation: $animation;
}
@mixin swiper_position_text_p(
  $fsize,
  $lineheight,
  $fweight,
  $color,
  $pading,
  $minheight
) {
  font-size: $fsize;
  line-height: $lineheight;
  font-weight: $fweight;
  color: $color;
  padding: $pading;
  min-height: $minheight;
}
@mixin swiper_position_text_a($texdec, $color, $fsize, $cursor) {
  text-decoration: $texdec;
  color: $color;
  font-size: $fsize;
  cursor: $cursor;
}
@mixin Flex_item($content, $items, $gap) {
  display: flex;
  justify-content: $content;
  align-items: $items;
  gap: $gap;
}
@mixin nav_item_search(
  $cursor,
  $position,
  $top,
  $fsze,
  $right,
  $zindex,
  $color,
  $bg,
  $widht,
  $height,
  $content,
  $items,
  $borradius
) {
  cursor: $cursor;
  position: $position;
  top: $top;
  font-size: $fsze;
  right: $right;
  z-index: $zindex;
  color: $color;
  background-color: $bg;
  width: $widht;
  height: $height;
  display: flex;
  justify-content: $content;
  align-items: $items;
  border-radius: $borradius;
}
@mixin nav_item_phone($curcor, $position, $top, $fsize, $right, $zindex) {
  cursor: $curcor;
  position: $position;
  top: $top;
  font-size: $fsize;
  right: $right;
  z-index: $zindex;
}
@mixin nav_item_phone_p($pading, $fsize, $fweight, $color, $margin) {
  padding: $pading;
  font-size: $fsize;
  font-weight: $fweight;
  color: $color;
  margin: $margin;
}
@mixin nav_item_phone_a($texdec, $color, $display, $fsize, $fweight) {
  text-decoration: $texdec;
  color: $color;
  display: $display;
  font-size: $fsize;
  font-weight: $fweight;
}
@mixin nav_item_phone_sub($display, $vertical, $fsize) {
  display: $display;
  vertical-align: $vertical;
  font-size: $fsize;
}
@mixin language_p($margin, $fsize, $fweight) {
  margin: $margin;
  font-size: $fsize;
  font-weight: $fweight;
}
@mixin language_ru(
  $cursor,
  $position,
  $top,
  $right,
  $zindex,
  $widht,
  $height,
  $borderrad,
  $color,
  $bg,
  $visiblity,
  $transition
) {
  cursor: $cursor;
  position: $position;
  top: $top;
  right: $right;
  z-index: $zindex;
  width: $widht;
  height: $height;
  border-radius: $borderrad;
  color: $color;
  background-color: $bg;
  visibility: $visiblity;
  transition: $transition;
}
@mixin language_ru_p($content, $fsize, $fweight, $items, $margin, $pading) {
  display: flex;
  justify-content: $content;
  font-size: $fsize;
  font-weight: $fweight;
  align-items: $items;
  margin: $margin;
  padding: $pading;
}
@mixin transform_itemas(
  $widht,
  $height,
  $position,
  $top,
  $right,
  $zindex,
  $pading,
  $display,
  $overflow,
  $bg
) {
  width: $widht;
  height: $height;
  position: $position;
  top: $top;
  right: $right;
  z-index: $zindex;
  padding: $pading;
  display: $display;
  overflow-y: $overflow;
  background-color: $bg;
}
@mixin leftside_nav_a($textdec, $color, $pading, $fsize) {
  text-decoration: $textdec;
  color: $color;
  padding: $pading;
  font-size: $fsize;
}
@mixin leftside_nav_li($margin, $liststyle, $padding) {
  margin: $margin;
  list-style: $liststyle;
  padding: $padding;
}
@mixin leftside_nav_bold_text($fsize, $fweight, $color) {
  font-size: $fsize;
  font-weight: $fweight;
  color: $color;
}
@mixin btn-nav(
  $position,
  $widht,
  $height,
  $borderrad,
  $top,
  $right,
  $bg,
  $border,
  $pading,
  $cursor,
  $zindex
) {
  position: $position;
  width: $widht;
  height: $height;
  border-radius: $borderrad;
  top: $top;
  right: $right;
  background-color: $bg;
  border: $border;
  padding: $pading;
  cursor: $cursor;
  z-index: $zindex;
}
@mixin icon-bar($display, $margin, $widht, $height, $bg) {
  display: $display;
  margin: $margin;
  width: $widht;
  height: $height;
  background-color: $bg;
}
@mixin left_side($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}
@mixin left_side_p($color, $fsize, $fweight) {
  color: $color;
  font-size: $fsize;
  font-weight: $fweight;
}
@mixin left_side_a($display, $color, $fsize, $fweight, $texdec) {
  display: $display;
  color: $color;
  font-size: $fsize;
  font-weight: $fweight;
  text-decoration: $texdec;
  &:hover {
    color: white;
    transition: 0.3s ease-in-out;
  }
}
@mixin right_side($position, $top, $right, $gap) {
  position: $position;
  top: $top;
  right: $right;
  display: flex;
  gap: $gap;
}
@mixin right_side_p($fsize, $lineheight, $fweight, $color, $margin, $widht) {
  font-size: $fsize;
  line-height: $lineheight;
  font-weight: $fweight;
  color: $color;
  margin: $margin;
  width: $widht;
}
@mixin right_side_ul($content, $gap, $items, $widht, $pading) {
  display: flex;
  justify-content: $content;
  gap: $gap;
  align-items: $items;
  width: $widht;
  padding: $pading;
}
@mixin right_side_a($texdec, $color) {
  text-decoration: $texdec;
  color: $color;
  &:hover {
    color: white;
    transition: 0.3s ease-in-out;
  }
}
@mixin connection_items(
  $items,
  $content,
  $gap,
  $position,
  $zindex,
  $top,
  $right
) {
  display: flex;
  align-items: $items;
  justify-content: $content;
  gap: $gap;
  position: $position;
  z-index: $zindex;
  top: $top;
  right: $right;
}
@mixin connection_items_f(
  $widht,
  $height,
  $borderrad,
  $bg,
  $content,
  $items,
  $fsize
) {
  width: $widht;
  height: $height;
  border-radius: $borderrad;
  background-color: $bg;
  display: flex;
  justify-content: $content;
  align-items: $items;
  font-size: $fsize;
}
@mixin comeback__a($fsize, $fweight, $texdec, $color) {
  font-size: $fsize;
  font-weight: $fweight;
  text-decoration: $texdec;
  color: $color;
}
@mixin header_text($aling, $fsize, $color, $fweight, $pading) {
  text-align: $aling;
  font-size: $fsize;
  color: $color;
  font-weight: $fweight;
  padding: $pading;
}
@mixin axtaris_items_h4($pading, $fweight, $fsize, $lineheight, $color) {
  padding: $pading;
  font-weight: $fweight;
  font-size: $fsize;
  line-height: $lineheight;
  color: $color;
}
@mixin axtaris_items_a($color, $texdec) {
  color: $color;
  text-decoration: $texdec;
}
@mixin axtaris_items($pading, $borderb) {
  padding: $pading;
  border-bottom: $borderb;
}
@mixin h_text($color, $pading, $fsize, $fweight) {
  color: $color;
  padding: $pading;
  font-size: $fsize;
  font-weight: $fweight;
}
@mixin card_img($widht, $obfit, $borderad, $border) {
  width: $widht;
  object-fit: $obfit;
  border-radius: $borderad;
  border: $border;
}
@mixin slider_page(
  $widht,
  $height,
  $bg,
  $position,
  $top,
  $clip,
  $right,
  $animation
) {
  width: $widht;
  height: $height;
  background: $bg;
  position: $position;
  top: $top;
  clip-path: $clip;
  right: $right;
  animation: $animation;
}
@mixin tibb_img($zindex, $widht, $borrad) {
  z-index: $zindex;
  width: $widht;
  border-radius: $borrad;
}
@mixin end_text($content, $mt) {
  display: flex;
  justify-content: $content;
  margin-top: $mt;
}
@mixin flex_items($items, $content, $direction) {
  display: flex;
  align-items: $items;
  justify-content: $content;
  flex-direction: $direction;
}
@mixin netice($mt, $position, $zindex, $widht) {
  margin-top: $mt;
  position: $position;
  z-index: $zindex;
  width: $widht;
}
@mixin netice_input($margin, $widht, $pading, $borderrad, $border) {
  margin: $margin;
  width: $widht;
  padding: $pading;
  border-radius: $borderrad;
  border: $border;
}
@mixin netice_button($border, $pading, $borderrad, $bg, $fsize) {
  border: none;
  padding: 12px 40px;
  border-radius: 10px;
  background: #ffcc00;
  font-size: 15px;
}
@mixin header_text_img($widht, $padng, $cursor, $bg, $height, $borderrad) {
  width: $widht;
  padding: $padng;
  cursor: $cursor;
  background-color: $bg;
  height: $height;
  border-radius: $borderrad;
}
@mixin text_items($fsize, $lineh, $color, $fweight) {
  font-size: $fsize;
  line-height: $lineh;
  color: $color;
  font-weight: $fweight;
}
@mixin text_content($fsize, $lineh, $color, $fweight, $aling) {
  font-size: $fsize;
  line-height: $lineh;
  color: $color;
  font-weight: $fweight;
  text-align: $aling;
}
@mixin image_item($cursor, $widht, $obfit, $borderrad) {
  cursor: $cursor;
  width: $widht;
  object-fit: $obfit;
  border-radius: $borderrad;
}
@mixin doctor_li($padng, $margn, $liststyle) {
  padding: $padng;
  margin: $margn;
  list-style: $liststyle;
}
@mixin accordion_doctor(
  $bg,
  $color,
  $cursor,
  $paddng,
  $fsize,
  $fweight,
  $widht,
  $aling,
  $border,
  $outline,
  $borderrad
) {
  background-color: $bg;
  color: $color;
  cursor: $cursor;
  padding: $paddng;
  font-size: $fsize;
  font-weight: $fweight;
  width: $widht;
  text-align: $aling;
  border: $border;
  outline: $outline;
  border-radius: $borderrad;
}
@mixin panel_row($height, $visiblity) {
  height: $height;
  display: flex !important;
  visibility: $visiblity;
}
