$mainblue: #4eade0;
$blue007: #0077b3;
$blue159: #159ee3;
$blue4e: #4eade0;
$gray114: rgba(114, 114, 114, 0.4);
$defautBlack: black;
$blackOpasity: rgba(0, 0, 0, 0.6);
$blackOpasity2: rgba(0, 0, 0, 0.3);
$lighhtCD: #dcdcdc;
$lighte2: #e2e2e2;
$gray40: #404040;
$defaultWhite: white;
$lightc2: #c2c2c2;
$blue10a: #10a8e4;
$lightBorder: lightgray;
$sliderColor: #f8fcfe;
$sliderColor2: #eaf6fd;
$sliderColor3: #d5edfa;
$colorText: #2e2e2ec4;
$grayOpacty175: rgba(175, 175, 175, 0.6);
$defaultGray: grey;
$orangeBtn: #ffcc00;
$blackOpasity39: rgba(39, 39, 39, 0.8);
$gray7c: #7c7c7c;
$gray64: #646464;
$formLight: #e7e7e7bd;
$btnFlex: rgb(49, 74, 106);
$BoxColor: rgb(15, 200, 240);
$linerGradient: linear-gradient(
  180deg,
  rgba(15, 200, 240, 1) 27%,
  rgba(20, 157, 226, 1) 86%
);
$greyColor: lightslategrey;
$circleColor: #0fc8f0;
$sliderPage1: #ecf9ff;
$sliderPage2: #0fc8f021;
$blue3d: #3d99de;
$light159: rgb(159, 159, 159);
$lightdc: #dcdcdc;
$light115: rgb(115, 115, 115);
$lighta9: #a9a9a978;
