@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");
@import "mixin";
@import "varaible";
@import "home/webkitScroll";
@import "home/home";
@import "home/covid19";
@import "home/hekimler";
@import "home/qeydiyyat";
@import "home/check-up";
@import "home/filiallar";
@import "home/nermanov_detail";
@import "home/infolab";
@import "home/muayineler";
@import "home/e_netice";
@import "home/axtariw";
@import "home/haqqimizda";
@import "home/laboratoriya";
@import "home/responsive";
@import "home/e-hekim";
@import "home/poliklinika";
@import "home/endrm";
@import "home/kampaniya";
@import "home/loyalliq";
@import "home/simptom";
@import "home/mexfilik";
@import "home/odenis";
@import "home/anket";
@import "home/suallar";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
