@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");
.Page_Logo {
  position: absolute;
  top: 24px;
  left: 36px;
  right: 0;
  z-index: 666;
}

.Page_Logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 77px;
}

.Page_Logo .second_logo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
}

header {
  position: relative;
}

header .absolut_item {
  position: absolute;
  left: 0;
  top: 16px;
  right: 0;
}

header .absolut_item .xidmet_box .main_a {
  cursor: pointer;
  overflow: hidden;
  width: 210px !important;
  height: 100px;
  text-decoration: none;
  background: #ce2954;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ce2954), color-stop(75%, #d4296f));
  background: linear-gradient(180deg, #ce2954 10%, #d4296f 75%);
  padding: 25px 10px;
  -webkit-box-shadow: 3px 11px 41px 0px lightslategrey;
          box-shadow: 3px 11px 41px 0px lightslategrey;
  border-radius: 16px;
}

header .absolut_item .xidmet_box .main_a a {
  text-decoration: none;
}

header .absolut_item .xidmet_box .main_a .xidmet_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
}

header .absolut_item .xidmet_box .main_a .xidmet_item .circle::before {
  content: "";
  width: 94px;
  top: -53px;
  right: -46px;
  height: 98px;
  background: #ed307d;
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
}

header .absolut_item .xidmet_box .main_a .xidmet_item .xidmet_word {
  z-index: 999;
}

header .absolut_item .xidmet_box .main_a .xidmet_item .xidmet_word p {
  font-weight: 700;
  margin: 0;
}

header .absolut_item .xidmet_box .main_a .xidmet_item .xidmet_icon img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
}

header .absolut_item .xidmet_box .main_a:hover {
  margin-top: -10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .absolut_item .xidmet_box .main_a:hover .circle::before {
  opacity: 0.4;
  top: -70px;
  right: -60px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#slider {
  float: right;
  width: 84%;
  height: 100vh;
  background-color: #fff2f7;
  -webkit-clip-path: circle(61.6% at 63% 51%);
          clip-path: circle(61.6% at 63% 51%);
  position: relative;
}

#slider #slider2 {
  float: right;
  width: 86%;
  height: 100vh;
  background-color: #ffe2ee;
  -webkit-clip-path: circle(61.6% at 63% 51%);
          clip-path: circle(61.6% at 63% 51%);
  position: absolute;
  right: 0%;
}

#slider #slider3 {
  float: right;
  width: 82%;
  height: 100vh;
  background-color: #e24775;
  -webkit-clip-path: circle(61.6% at 63% 51%);
          clip-path: circle(61.6% at 63% 51%);
  position: absolute;
  right: 0%;
}

#slider #slider3::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#slider #slider3 .swiper {
  width: 100%;
  height: 100%;
}

#slider #slider3 .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f176a7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: imgscale 5s linear 2s infinite alternate;
          animation: imgscale 5s linear 2s infinite alternate;
}

#slider #slider3 .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}

#slider #slider3 .swiper .position_text {
  position: absolute;
  z-index: 999;
  top: 230px;
  left: 110px;
  text-align: start;
  -webkit-animation: transformtext 4s forwards infinite;
          animation: transformtext 4s forwards infinite;
}

#slider #slider3 .swiper .position_text p {
  font-size: 40px;
  line-height: 60px;
  font-weight: 800;
  color: #fff;
  padding: 40px 0 0px;
  min-height: 140px;
}

#slider #slider3 .swiper .position_text a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

nav .nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 30px;
}

nav .nav_items .search {
  position: absolute;
  top: 20px;
  font-size: 20px;
  right: 27%;
  z-index: 999;
  color: #fff;
  background-color: #e24775;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

nav .nav_items .phone {
  position: absolute;
  top: 20px;
  font-size: 20px;
  right: 15%;
  z-index: 999;
}

nav .nav_items .phone .phone_text p {
  padding: 0 17px 5px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

nav .nav_items .phone .number a {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
}

nav .nav_items .phone .number a sub {
  display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
}

nav .nav_items .phone .number a i {
  font-size: 20px;
}

nav .nav_items .language .az {
  position: absolute;
  top: 20px;
  font-size: 20px;
  right: 30px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: black;
  background-color: #fff;
  cursor: pointer;
}

nav .nav_items .language .az p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

nav .nav_items .language .az p i {
  color: #e24775;
}

nav .nav_items .language .ru {
  cursor: pointer;
  position: absolute;
  top: 14%;
  right: 30px;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: black;
  background-color: #fff;
  visibility: hidden;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

nav .nav_items .language .ru p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 13px;
}

nav .nav_items .language .az:hover + .ru {
  visibility: visible;
  background-color: #e24775;
  color: white;
}

nav .nav_items .nav {
  position: relative;
  width: auto;
  display: inline-block;
  border: none;
}

nav .nav_items .nav .transform_itemas {
  width: 665px;
  height: 100vh;
  position: absolute;
  top: 90px;
  right: 0;
  z-index: +99999;
  padding: 40px 20px;
  display: none;
  -webkit-transition: all 3s ease-in-out !important;
  transition: all 3s ease-in-out !important;
  overflow-y: scroll;
  background-color: #e24775;
}

nav .nav_items .nav .transform_itemas .rightside_nav ul,
nav .nav_items .nav .transform_itemas .leftside_nav ul {
  margin: 0;
  padding: 0;
}

nav .nav_items .nav .transform_itemas .rightside_nav ul li,
nav .nav_items .nav .transform_itemas .leftside_nav ul li {
  margin: 0;
  list-style: none;
  padding: 0 0 30px;
}

nav .nav_items .nav .transform_itemas .rightside_nav ul li a,
nav .nav_items .nav .transform_itemas .leftside_nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 0 18px;
  font-size: 17px;
}

nav .nav_items .nav .transform_itemas .rightside_nav ul li .bold_text,
nav .nav_items .nav .transform_itemas .leftside_nav ul li .bold_text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

nav .nav_items .nav .transform_itemas .rightside_nav ul li:hover,
nav .nav_items .nav .transform_itemas .leftside_nav ul li:hover {
  text-decoration: underline;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

nav .nav_items .btn-nav {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 20px;
  right: 75px;
  background-color: white;
  border: none;
  padding: 11px;
  cursor: pointer;
  z-index: 999;
}

nav .nav_items .btn-nav:focus {
  outline: 0;
}

nav .nav_items .icon-bar {
  display: block;
  margin: 6px 0;
  width: 26px;
  height: 2px;
  background-color: #e24775;
}

nav .nav_items .btn-nav:hover .icon-bar {
  background-color: #e24775;
}

nav .nav_items .animated:hover .icon-bar,
nav .nav_items .animated:focus .icon-bar {
  background-color: #e24775;
}

nav .nav_items .icon-bar {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 999999;
}

nav .nav_items .animated .icon-bar {
  z-index: 999999;
  background-color: #e24775;
}

nav .nav_items .animated .top {
  -webkit-transform: translateY(8px) rotateZ(45deg);
  transform: translateY(8px) rotateZ(45deg);
}

nav .nav_items .animated .bottom {
  -webkit-transform: translateY(-8px) rotateZ(-45deg);
  transform: translateY(-8px) rotateZ(-45deg);
}

nav .nav_items .animated .middle {
  width: 0;
}

footer .end_text {
  position: relative;
}

footer .end_text .left_side {
  position: absolute;
  top: 550px;
  left: 22px;
}

footer .end_text .left_side p {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 500;
}

footer .end_text .left_side p a {
  display: inline-block;
  color: rgba(175, 175, 175, 0.6);
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}

footer .end_text .left_side p a:hover {
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .end_text .right_side {
  position: absolute;
  top: 550px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

footer .end_text .right_side p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(175, 175, 175, 0.6);
  margin: 0;
  width: 100%;
}

footer .end_text .right_side ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
}

footer .end_text .right_side ul li {
  list-style: none;
}

footer .end_text .right_side ul li a {
  text-decoration: none;
  color: rgba(175, 175, 175, 0.6);
}

footer .end_text .right_side ul li a:hover {
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .end_text .connection_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  position: fixed;
  z-index: +999;
  top: 490px;
  right: 25px;
}

footer .end_text .connection_items .f_phone,
footer .end_text .connection_items .f_anket,
footer .end_text .connection_items .f_sual,
footer .end_text .connection_items .f_connect {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

footer .end_text .connection_items .f_phone i,
footer .end_text .connection_items .f_anket i,
footer .end_text .connection_items .f_sual i,
footer .end_text .connection_items .f_connect i {
  color: #ed307d;
}

footer .end_text .connection_items .lemon_connect {
  background-color: #ed307d;
}

footer .end_text .connection_items .lemon_connect i {
  color: white;
}

footer .end_text .connection_items .scale_phone {
  -webkit-animation: phonescale 1s ease-in-out infinite;
          animation: phonescale 1s ease-in-out infinite;
}

.active {
  display: block !important;
  -webkit-transition: all 3s ease-in-out !important;
  transition: all 3s ease-in-out !important;
}

@-webkit-keyframes slider1 {
  100% {
    right: 0px;
  }
}

@keyframes slider1 {
  100% {
    right: 0px;
  }
}

@-webkit-keyframes slider2 {
  0% {
    right: 0;
  }
  100% {
    right: -110px;
  }
}

@keyframes slider2 {
  0% {
    right: 0;
  }
  100% {
    right: -110px;
  }
}

@-webkit-keyframes slider3 {
  0% {
    right: 0;
  }
  100% {
    right: -220px;
  }
}

@keyframes slider3 {
  0% {
    right: 0;
  }
  100% {
    right: -220px;
  }
}

@-webkit-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes imgscale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
}

@keyframes imgscale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
}

@-webkit-keyframes transformtext {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes transformtext {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes phonescale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  75% {
    -webkit-transform: scale(1.28);
            transform: scale(1.28);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes phonescale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  75% {
    -webkit-transform: scale(1.28);
            transform: scale(1.28);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

#slider_page {
  width: 330px;
  height: 120%;
  background: #f8fcfe;
  position: fixed;
  top: -10%;
  -webkit-clip-path: ellipse(100% 50% at 100% 50%);
          clip-path: ellipse(100% 50% at 100% 50%);
  right: 0;
  -webkit-animation: slider1 0.9s linear normal;
          animation: slider1 0.9s linear normal;
}

#slider_page #slider2_page {
  width: 330px;
  height: 110%;
  background: #eaf6fd;
  position: fixed;
  top: -5%;
  -webkit-clip-path: ellipse(100% 50% at 100% 50%);
          clip-path: ellipse(100% 50% at 100% 50%);
  right: -110px;
  -webkit-animation: slider2 0.8s linear normal;
          animation: slider2 0.8s linear normal;
}

#slider_page #slider2_page #slider3_page {
  width: 330px;
  height: 100%;
  background: #d5edfa;
  position: fixed;
  top: -0%;
  -webkit-clip-path: ellipse(100% 50% at 100% 50%);
          clip-path: ellipse(100% 50% at 100% 50%);
  right: -220px;
  -webkit-animation: slider3 0.7s linear normal;
          animation: slider3 0.7s linear normal;
}

#Tibbi_məlumatlar {
  position: relative;
  z-index: +666;
}

#Tibbi_məlumatlar .comeback {
  margin-top: 8rem;
  margin-left: 4rem;
}

#Tibbi_məlumatlar .comeback a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #0077b3;
}

#Tibbi_məlumatlar .tibbi_melumat_photo .header_text {
  text-align: center;
  font-size: 36px;
  color: #159ee3;
  font-weight: bold;
  padding: 0 0 60px;
}

#Tibbi_məlumatlar .tibbi_melumat_photo .photo_tibb img {
  z-index: 666;
  width: 100%;
  border-radius: 8px;
}

#Tibbi_məlumatlar .text_covid {
  margin-top: 5rem;
}

#Tibbi_məlumatlar .text_covid h3 {
  padding: 0 0 16px;
  font-size: 24px;
  font-weight: 500;
  color: #404040;
}

#Tibbi_məlumatlar .text_covid p {
  padding: 0 0 5px;
  font-size: 13px;
  color: #2e2e2ec4;
}

#Tibbi_məlumatlar .text_covid .lists_p {
  padding: 0 0 10px 25px;
  font-size: 15px;
  font-weight: 500;
}

#Tibbi_məlumatlar .text_covid .lists_p i {
  color: #0077b3;
  font-size: 16px;
}

#Hekimler {
  margin-top: 7rem;
  position: relative;
  z-index: +999;
}

#Hekimler .comeback {
  margin-top: 2rem;
  margin-left: 4rem;
}

#Hekimler .comeback a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #0077b3;
}

#Hekimler .header_text {
  text-align: center;
  font-size: 36px;
  color: #159ee3;
  font-weight: bold;
  padding: 0 0 60px;
}

#Hekimler ul {
  padding: 0;
}

#Hekimler ul li {
  padding: 10px 12px;
  margin: 4px 0px;
  list-style: none;
}

#Hekimler ul li .accordion {
  background-color: #159ee3;
  color: white;
  cursor: pointer;
  padding: 21px 60px 21px 35px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 5px;
}

#Hekimler ul li .panel_row {
  height: 0px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  visibility: hidden;
}

#Hekimler ul li .panel_row .panel .card_photo {
  margin-top: 1rem;
  cursor: pointer;
}

#Hekimler ul li .panel_row .panel .card_photo img {
  width: 100%;
  border-radius: 5px;
}

#Hekimler ul li .panel_row .panel .card_text .blue {
  padding: 0 0 8px;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: #159ee3;
}

#Hekimler ul li .panel_row .panel .card_text .gray {
  color: #7c7c7c;
  font-size: 13px;
}

.active2 {
  height: auto !important;
  visibility: visible !important;
}

#Onlayn_qeydiyyat {
  margin-top: 5rem;
  position: relative;
  z-index: +999;
}

#Onlayn_qeydiyyat .comeback {
  margin-top: 3rem;
  margin-left: 4rem;
}

#Onlayn_qeydiyyat .comeback a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #0077b3;
}

#Onlayn_qeydiyyat .header_text {
  text-align: center;
  font-size: 33px;
  color: #159ee3;
  font-weight: bold;
  padding: 0 0 60px;
}

#Onlayn_qeydiyyat .form_item .form_text input {
  padding: 14px;
  border-radius: 5px;
  border: 1px solid darkgray;
}

#Onlayn_qeydiyyat .form_item .select label {
  font-size: 15px;
  color: #c2c2c2;
  font-weight: 300;
}

#Onlayn_qeydiyyat .form_item .select select {
  padding: 13px 15px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid darkgray;
}

#Onlayn_qeydiyyat .form_item .email_tel input,
#Onlayn_qeydiyyat .form_item .text2 input {
  width: 100%;
  margin-top: 1rem;
  padding: 13px 3px;
  border-radius: 5px;
  border: 1px solid darkgray;
}

#Onlayn_qeydiyyat .form_item .radio label,
#Onlayn_qeydiyyat .form_item .file2 label {
  color: #c2c2c2;
  font-weight: 300;
}

#Onlayn_qeydiyyat .form_item .radio span,
#Onlayn_qeydiyyat .form_item .file2 span {
  color: #c2c2c2;
  font-weight: 400;
}

#Onlayn_qeydiyyat .form_item .radio button,
#Onlayn_qeydiyyat .form_item .file2 button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  background-color: #10a8e4;
  border-radius: 5px;
}

#Onlayn_qeydiyyat .form_item .radio2 label {
  color: #c2c2c2;
  font-weight: 300;
}

#Onlayn_qeydiyyat .form_item .radio2 p {
  color: #c2c2c2;
  font-weight: 400;
}

#Onlayn_qeydiyyat .form_item .qeyd textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

#Onlayn_qeydiyyat .form_item .end_label label {
  font-size: 14px;
  font-weight: 300;
  color: #737373;
}

#Onlayn_qeydiyyat .form_item .end_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#Onlayn_qeydiyyat .form_item .end_button button {
  color: #fff;
  padding: 15px 50px;
  border: none;
  background-color: #10a8e4;
  border-radius: 5px;
}

#Check_up {
  margin-top: 7rem;
  position: relative;
  z-index: +999;
}

#Check_up .comeback {
  margin-top: 2rem;
  margin-left: 4rem;
}

#Check_up .comeback a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #0077b3;
}

#Check_up .header_text {
  text-align: center;
  font-size: 36px;
  color: #159ee3;
  font-weight: bold;
  padding: 0 0 60px;
}

#Check_up .h_text {
  color: #404040;
  padding: 0 0 5px;
  font-size: 14px;
  font-weight: 300;
}

#Check_up .check_items a {
  text-decoration: none;
}

#Check_up .check_items a .check_cards .card_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  border: 1px solid lightgray;
}

#Check_up .check_items a .check_cards .card_text {
  margin-top: 1rem;
}

#Check_up .check_items a .check_cards .card_text p {
  font-size: 24px;
  font-weight: bold;
  color: #0077b3;
}

#Filiallar {
  margin-top: 7rem;
  position: relative;
  z-index: +999;
}

#Filiallar .comeback {
  margin-top: 2rem;
  margin-left: 4rem;
}

#Filiallar .comeback a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #0077b3;
}

#Filiallar .header_text {
  text-align: center;
  font-size: 36px;
  color: #159ee3;
  font-weight: bold;
  padding: 0 0 60px;
}

#Filiallar .header_text img {
  width: 15px;
  padding: 6px;
  cursor: pointer;
  background-color: #159ee3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#Filiallar .filial_items a {
  text-decoration: none;
}

#Filiallar .filial_items a .card_filial .card_img_filial img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  border: 1px solid lightgray;
}

#Filiallar .filial_items a .card_filial .card_img_filial:hover {
  opacity: 0.8;
}

#Filiallar .filial_items a .card_filial .card_text_filial {
  margin-top: 1rem;
}

#Filiallar .filial_items a .card_filial .card_text_filial p {
  font-size: 24px;
  font-weight: bold;
  color: #0077b3;
}

.accordion .accordion-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #159ee3;
}

.accordion .accordion-tabs .accordion-tab {
  background: #159ee3;
  padding: 1rem 2rem;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  cursor: pointer;
}

.accordion .accordion-tabs .accordion-tab:hover {
  background: #159ee3;
}

.accordion .accordion-tabs .accordion-tab.accordion-active {
  background: #a9e2ff;
}

.accordion-item__label {
  position: relative;
}

.accordion-item__container {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
  transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
}

.accordion-item__container .adress_items {
  padding: 5px 0px;
}

.accordion-item__container .adress_items h2 {
  padding: 0 0 30px;
  font-size: 24px;
  font-weight: bold;
  color: #159ee3;
}

.accordion-item__container .adress_items p {
  color: #5a5a5a;
  font-size: 14px;
}

.accordion-item__container .adress_items .cursor {
  cursor: pointer;
}

.accordion-item__container .mapouter .gmap_canvas iframe {
  width: 100%;
  height: 835px;
}

.accordion-item__container .mapouter .gmap_canvas a {
  text-decoration: none;
  color: gray;
}

.accordion-item__container .tab_items {
  width: 200px;
  height: 142px;
  background-color: #159ee3;
  border-radius: 8px;
}

.accordion-item__container .tab_items .tab_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.accordion-item__container .tab_items .tab_img img {
  margin-top: 1rem;
}

.accordion-item__container .tab_items .tab_text p {
  margin-top: 1rem;
  font-size: 17px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.accordion-item__container .tab_items:hover {
  -webkit-box-shadow: 0 14px 20px 0 gray;
          box-shadow: 0 14px 20px 0 gray;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  background: #159ee3;
  background: linear-gradient(267deg, #159ee3 31%, #2fcdf3 91%);
}

.accordion-item__container .panel {
  cursor: pointer;
}

.accordion-item__container .panel .card_photo {
  margin-top: 1rem;
}

.accordion-item__container .panel .card_photo img {
  width: 100%;
  border-radius: 5px;
}

.accordion-item__container .panel .card_text .blue {
  padding: 0 0 8px;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: #159ee3;
}

.accordion-item__container .panel .card_text .gray {
  color: #7c7c7c;
  font-size: 13px;
}

.accordion-active {
  background: #159ee3;
}

.accordion-active .accordion-item__container {
  height: auto;
  opacity: 1;
}

#İnfolab {
  margin-top: 6rem;
  position: relative;
  z-index: +999;
}

#İnfolab .comeback {
  margin-top: 2rem;
  margin-left: 4rem;
}

#İnfolab .comeback a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #0077b3;
}

#İnfolab .header_text {
  text-align: center;
  font-size: 36px;
  color: #159ee3;
  font-weight: bold;
  padding: 0 0 60px;
}

#İnfolab .tabs {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

#İnfolab .lab_card {
  padding: 8px;
}

#İnfolab .lab_card .lab_image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

#İnfolab .lab_card .lab_items h4 {
  padding: 0 0 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  color: #404040;
}

#İnfolab .lab_card .lab_items p {
  padding: 0 0 15px;
  font-size: 14px;
  line-height: 1.33;
  color: rgba(39, 39, 39, 0.8);
}

#İnfolab .lab_card .lab_items .lab_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#İnfolab .lab_card .lab_items .lab_data .month p {
  font-size: 15px;
  color: #7c7c7c;
}

#İnfolab .lab_card .lab_items .lab_data .view p {
  font-size: 12px;
  color: #7c7c7c;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=style.css.map */